body{
	
	
background: linear-gradient(rgba(0,0,255,0.7) 0%, rgba(230,0,255,1) 80%) repeat-x, 

url("Image1_Animated_Alpha.gif"),

black;

min-height: 100vh;
background-size: 10vh;
cursor: url("Cursor.png"), default;	


margin: 0; 
height: 100%; 
overflow: hidden

}

.test {
cursor: url("Cursor.png"), default;	
}


.title{
	font-family: Jost;
	font-size: 72px;

  color: #ff2400;
 
  text-shadow:

    0 0 40px #f0584d;
    0 0 20px #f0584d;
	0 0 20px #f0584d;
	0 0 28px #f0584d;

   	margin: 0px;
	padding: 0px;
	/* float: left; */
	/* white-space: nowrap; */
 

}


.gradient-text {
    background-color: #f3ec78;
    background-image: linear-gradient(rgba(0,0,255,0.7) 0%, rgba(230,0,255,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	
/* 	margin: 0px;
	padding: 0px; */
	
	
}







header {
	
/* 	background: #55d6aa;
	min-width: 1440px;
	margin: 0px; */
	margin-left: 3px;
	margin-right: 3px;
	height: 120px;
	
	

	position: relative;
}




header::after {
	height: 120px;
	background:#fff;

}







.logo {
	font-family: Pacifico;
	position: inline-block;
	font-size: 72px;
	background-color: #f3ec78;
    background-image: linear-gradient(rgba(0,0,255,0.7) 0%, rgba(230,0,255,1) 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
		  animation: pulsate 0.11s ease-in-out infinite alternate; 
	  text-shadow:
  

    0 0 20px #f0584e;
    0 0 30px #f0584e;
	0 040px #f0584e;
	0 0 40px #f0584e;
	


	display: inline-block;
	margin-bottom: 10px;
	white-space: nowrap;
	position: absolute;
	float: left;
	
	
	margin-top: 0px;
	padding-right: 100px;

	
	
}

nav {
	
	cursor: url("Cursor.png"), default;	
/* 	display: inline-block;
	white-space: nowrap;
	margin-bottom: 50px;
	text-align: right; */
	
/* 
	white-space: nowrap;
	display: inline-block;
	text-align: right; */

	letter-spacing: 4px;
	position: relative;
		min-width: 20px;
}


nav ul {
font-family: Jost;
cursor: url("Cursor.png"), default;	
	min-width: 1000px;
		left: 450px;
	position: absolute;

	margin-top: 70px;


	font-family: Jost;
	


}









nav li{
	cursor: url("Cursor.png"), default;	
	display: inline-block;
 	margin-right: 20px;
	
   transform: translateY(-0.25em);	

	transition: 0.25s;
}





nav li:hover{
cursor: url("Cursor.png"), default;	
  transform: translateY(0.25em);	
  transition: 0.25s;
	
}



nav li a {
	cursor: url("Cursor.png"), default;	
    color:white;
		text-decoration: none;
}

nav li a:hover {
	cursor: url("Cursor.png"), default;	
    color:red;
	transition: 0.8s;
}


/*---------------------------*/
hr {


	

	

	margin-left: 6px;
	margin-right: 6px;
	border-radius: 2px;
	border-top: 2px solid;
	border-left: none;
	border-right: none;
	border-bottom: none;

	


    color: #fff; 
    background-color: none;
	position: relative;
	top: 120px;
	
}

 
@keyframes pulsate {
  100% {
    /* Larger blur radius */
    text-shadow:
      0 0 2px #e8b0c2,
      0 0 5.5px #e8b0c2,
      0 0 9.5px #e8b0c2,
      0 0 20px #e83f74,
      0 0 40px #e83f74,
      0 0 45px #e83f74,
      0 0 25px #e83f74,
      0 0 37.5px #e83f74;
  }
 0% {
    /* A slightly smaller blur radius */
    text-shadow:
      0 0 2px #e8b0c2,
      0 0 5px #e8b0c2,
      0 0 9px #e8b0c2,
      0 0 19px #e83f74,
      0 0 36.5px #e83f74,
      0 0 50px #e83f74,
      0 0 24px #e83f74,
      0 0 37px #e83f74;
  }
}


h1 {
font-family: Jost;	
font-weight: normal;
margin-left: 6px;
text-align: center;
color: pink;
text-transform: uppercase;
letter-spacing: 4px;
}


.border{
border-top: 6px solid;	
	
}

/*http://jsfiddle.net/187wghru/*/



/* https://codepen.io/giana/pen/BZaGyP */
